$clear = #eee
$dark = #222831
$accent = #393e46
$primary = #00adb5

$error = #f38181
$warning = #fce38a
$success = #eaffd0
$info = #95e1d3

// TODO remove these
clear = #eee
dark = #222831
accent = #393e46
primary = #00adb5

error = #f38181
warning = #fce38a
success = #eaffd0
info = #95e1d3
